* {
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #efefef;
}

.hollow-title {
    font-weight: 200;
    color: #757575;
    margin: 0;
    margin: 10px 0;
    margin-top: 12px;
    font-size: 1.5rem;
}